.checkout-modal {
    max-width: 900px;
    width: 100% !important;

    .ant-modal-header {
        border: none;
        padding: 1.5rem 24px;

        .ant-modal-title {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .ant-modal-footer {
        display: none;
    }

    .ant-modal-body {
        padding: 0;
    }


}
