@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Assistant:700&display=swap");

#app_root {
    min-height: 100%;
    /* height: 100%; */
}

a {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* letter-spacing: -0.05rem; */
    font-weight: 700 !important;
    font-family: "Helvetica Neue", serif;
}

body {
    font-size: 100%;
    min-height: 100%;
    /* height: auto !important; */
    font-family: "Lato", serif !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: 0.5;
}

h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
}

@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height 
	  and something more appropriate for display headings */
    }
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
}

@media (min-width: 43.75em) {
    h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
    }
}

h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
}

@media (min-width: 43.75em) {
    h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
}

h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
}

@media (min-width: 43.75em) {
    h4 {
        line-height: 1.22222222;
        /* (22px / 18px */
    }
}

p {
    margin-bottom: 2rem;
    font-family: Lato;
    font-size: 1.4em;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
}

.ant-layout-header>div {
    margin: 0 auto !important;
}

.ant-message {
    z-index: 9999 !important;
}

.ant-btn .anticon {
    vertical-align: initial;
}

.ril-image-current {
    height: auto;
    width: auto;
}

.ril-image-next {
    height: auto;
    width: auto;
}

.ril-image-prev {
    height: auto;
    width: auto;
}
